<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.totalrec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserChangePassword"></activity>
        <activity android:name=".UserEmailChange" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".createTeam" />
        <activity android:name=".teamHome" />
        <activity android:name=".nonSubTeamHome" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>